html,
body,
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #ffffff;
}

:root {
  --white:#f6f3ed;
  --lightgray: #f6f3ee
  --dark: #2f2f3b;
  --darkblue: #2f2f4e;

  --primary: var(--white);
  --bg: var(--lightgray);
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}
.lol{
  background-color: var(--primary);

}
.app{
  background-color: var(--bg);
}
h1{
  font-size: var(--h1);
  text-align: center;
}
h2{
  font-size: var(--h2);
}
/* make array of items
toggles that change content on pg */
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}
.artist{
  font-size: var(--h2);
}
#btn{
  font-size: var(--h3);
  margin-left: 2rem;
  align-items: center;
}
