html,
body,
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --white:#f6f3ed;
  --beige: #f3e7d4;
  --dark: #5a6e86;
  --darkblue: #2f2f4e;

  --primary: var(--dark);
  --secondary: var(--darkblue);
  --h1: 7.594rem;
  --h2: 4.063rem;
  --h3: 3.375rem;
  --h4: 2.5rem;
  --h5: 1.5rem;
}
.dark{
  --primary: var(--dark);
  --secondary: var(--darkblue);
}
.light{
  --primary: var(--white);
  --secondary: var(--beige);
}
  
.lol{
  background-color: var(--primary);
}
.app{
  background-color: var(--secondary);
  flex-direction: row;
  display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    flex-direction: row;
} 
.buttoncontainer {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: var(--secondary);
}
 .card{
  height: 60vh;
  width: 30vw;
  background-color: #d6cdee;
  border-radius: 2rem;
  box-shadow: 10px 10px 5px #3a303f;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  font-size: 70%;
  margin: 1rem;
}
   .image{
   width: 95%;
   height: 60%;
}

h1{
  font-size: var(--h1);
  text-align: center;
}
h2{
  font-size: var(--h2);
}
h4{
  font-size: var(--h4);
}
/* make array of items
toggles that change content on pg */
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}
.pop, .indiepop, .rnb, .theme
{
  font-size: var(--h3);
  margin-left: 2rem;
  align-items: center;
}