html,
body,
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --white:#f6f3ed;
  --lightgray: #f6f3ee
  --dark: #2f2f3b;
  --darkblue: #2f2f4e;

  --h1: 7.594rem;
  --h2: 5.063rem;
  --primary: var(--white);
  --secondary: var(--lightgray);
}
.light{
  background-color: var(--white);
  --primary: var(--white);
  --secondary: var(--lightgray);
}
.dark{
  background-color: var(--dark);
  --primary: var(--dark);
  --secondary: var(--darkblue);
}

h1{
  font-size: var(--h1);
}
.section-title{
  font-size: var(--h1);
}
h2{
  font-size: var(--h2);
}
/* make array of items
toggles that change content on pg */
.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  margin: 1rem auto;
  font-size: 2rem;
  border: none;
  border-radius: 10rem;
  transition: all 0.2s;
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
}